# OS
.DS_Store

# Python
app/backend/.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache/
.pytest_cache/
*.egg-info/

# Env
.env
.env.local

# Node/Frontend
app/frontend/.next/
app/frontend/node_modules/
app/frontend/.vercel/
npm-debug.log*
yarn-error.log*
pnpm-lock.yaml
